@model IEnumerable<Safeway.Model.Evaluation.NormalEntEvaluationTemplate>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EvluationEnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationTeamMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleThree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnterpriseBasicInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EvluationEnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationLeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationTeamMember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleThree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnterpriseBasicInfo.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
